@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MoluEt.Models.Asi

@{
    ViewData["Title"] = "AsiGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="AsiGuncelle" asp-controller="Asi" method="post">

    <label style="width:100px">Aşı No</label><input disabled="disabled" style="width:350px" class="input-group-lg" name="ASİ_NO" value="@Model.ASI_NO" />
    <br />
    <label style="width:100px">Aşı Adi</label><input style="width:350px" name="ASI_ADI" value="@Model.ASI_ADI" />
    <br />
    <label style="width:100px">Yapılan ay</label><input style="width:350px" name="YAP_AY" value="@Model.YAP_AY" />
    <br />
    <label style="width:100px">Açıklama</label><input style="width:350px" name="ACIKLAMA" value="@Model.ACIKLAMA" /><br />

    <br />
    

   @*  <button asp-action="AsiGuncelle" asp-controller="Asi">Aşı Güncelle</button> *@
    <div class="card-footer">
        <div class="button-container">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Güncelle</button>
            <button type="button" class="btn btn-danger" onclick="confirmDelete();"><i class="fas fa-trash-alt"></i> Sil</button>
        </div>
    </div>

    <script>
        function confirmDelete() {
            if (confirm('Bu kaydı silmek istediğinize emin misiniz?')) {
                var form = document.createElement('form');
                form.method = 'post';
                form.action = '@Url.Action("AsiSil", "Asi")';
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'id';
                input.value = '@Model.ASI_NO';
                form.appendChild(input);
                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>
</form>


