@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MoluEt.Models.RasyonUretimDetay>

@{
    ViewData["Title"] = "RasyonUretimDetayList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RasyonUretimDetayList</h1>




<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hayvan Nevi Listesi</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
    <!-- AdminLTE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2.0/dist/css/adminlte.min.css">
    <!-- jQuery -->
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    <!-- Bootstrap 4 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2.0/dist/js/adminlte.min.js"></script>
    <style>
        .page-header {
            background-color: #343a40; /* Header background color */
            color: #fff; /* Text color */
            padding: 20px; /* Padding inside the header */
            margin-bottom: 20px; /* Bottom margin */
            margin-top: 40px; /* Margin at the top to push it down */
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .page-header h1 {
                font-size: 1.75rem; /* Font size for the title */
                margin: 0; /* Remove margin */
            }

        .btn-primary {
            font-size: 1rem; /* Font size for buttons */
        }

        .btn-search {
            background-color: #007bff; /* Button background color */
            color: white;
            border: none;
            border-radius: 0.25rem;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            transition: background-color 0.3s, border-color 0.3s;
        }

            .btn-search:hover {
                background-color: #0056b3; /* Button background color on hover */
                color: white;
            }

        .form-control-search {
            border-radius: 0.25rem;
            border: 1px solid #ced4da;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
        }

        /* Arama formu ve butonları aynı satırda hizalamak için Flexbox kullanımı */
        .form-container {
            display: flex;
            align-items: center;
            justify-content: space-between; /* Aralarındaki boşluğu ayarlamak için */
            margin-bottom: 20px; /* Form ve buton arasında boşluk */
        }

            .form-container .form-inline {
                flex: 1; /* Formun genişliği */
            }

            .form-container .card-tools {
                margin-left: 10px; /* Arama formu ile buton arasındaki boşluk */
            }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Page Header -->
        <div class="page-header title-box">
            <h1 class="m-0">Rasyon Üretim Detay Listesi</h1>
        </div>

        <!-- Main Content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <!-- Form ve Butonları aynı satırda hizalamak için Flexbox kullanımı -->
                        <div class="form-container">
                            <!-- Search Form -->
                            <form id="searchForm" method="get" action="~/RasyonUretim/RasyonUretimListele" class="form-inline">
                                <div class="input-group input-group-md">
                                    <input type="text" class="form-control form-control-search" name="searchTerm" placeholder="Rasyon açıklama ile ara..." aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-search" type="submit">
                                            <i class="fas fa-search"></i> Ara
                                        </button>
                                    </div>
                                </div>
                                <div class="card-tools">
                                    <a href="~/RasyonUretim/RasyonUretimEkle" class="btn btn-success">Rasyon Üretim ekle </a>
                                </div>
                            </form>
                        </div>
                        <form asp-action="RasyonUretimGuncelle" asp-controller="RasyonUretim" method="post">
                            <div class="form-group">
                                <label for="CIFTLIKNO">Çiftlik No</label>
                                <input type="text" id="CIFTLIKNO" class="form-control" value="@Model[0].rasyonUretim.CIFTLIKNO - @Model[0].rasyonUretim.CIFTLIKADI" readonly />
                            </div>
                            <div class="form-group">
                                <label for="URETIMNO">Üretim No</label>
                                <input type="text" id="URETIMNO" class="form-control" value="@Model[0].rasyonUretim.URETIMNO" readonly />
                            </div>
                            <div class="form-group">
                                <label for="TARIH">TARIH</label>
                                <input type="date" name="TARIH" id="TARIH" class="form-control" value="@Model[0].rasyonUretim.TARIH?.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="form-group">
                                <label for="ACIKLAMA">Açıklama</label>
                                <input type="text" id="ACIKLAMA" name="ACIKLAMA" class="form-control" value="@Model[0].rasyonUretim.ACIKLAMA" />
                            </div>


                            <input name="CIFTLIKNO" value="@Model[0].rasyonUretim.CIFTLIKNO" type="hidden" />
                            <input name="URETIMNO" value="@Model[0].rasyonUretim.URETIMNO" type="hidden" />

                            <button asp-action="RasyonUretimGuncelle" asp-controller="RasyonUretim" class="btn btn-danger" formmethod="post">Güncelle</button>
                        </form>
                        <br />
                        <!-- Table -->



                        <div class="table-responsive mt-4">
                            <table class="table table-bordered">

                                <tr>
                                    <th>Sıra</th>
                                    <th>Üretim Ürün Adı</th>
                                    <th>Birim</th>
                                    <th>Üretim Miktar</th>
                                    <th>İşlemler</th>

                                </tr>

                                @foreach (var item in Model)
                                {
                                    <form asp-controller="RasyonUretim" method="post">
                                    <tr>

                                        <td>@item.SIRANO</td>
                                            @* <td>@item.URUNNO</td>*@
                                        <td>
                                            <select name="URUNNO" class="form-control">
                                                    @foreach (var m in (List<SelectListItem>)ViewBag.emtia)
                                                    {
                                                        if (item.URUNNO == Convert.ToInt32(m.Value))
                                                        {
                                                        <option value=@m.Value selected="selected">
                                                                @m.Text
                                                        </option>
                                                        }
                                                        else
                                                        {
                                                        <option value=@m.Value>@m.Text</option>
                                                        }

                                                    }
                                            </select>
                                        </td>
                                        <td>KG</td>
                                        <td><input name="MIKTAR" value="@item.MIKTAR" class="form-control" /></td>
                                        <td>
                                            <button class="btn btn-success" asp-action="RasyonUretimDetayGuncelle">Güncelle</button>
                                            <button class="btn btn-danger" asp-action="RasyonUretimDetaySil">Sil</button>
                                        </td>
                                        <input name="CIFTLIKNO" value="@Model[0].rasyonUretim.CIFTLIKNO" type="hidden" />
                                        <input name="SIRANO" value="@item.SIRANO" type="hidden" />
                                        <input name="URETIMNO" value="@Model[0].rasyonUretim.URETIMNO" type="hidden" />

                                    </tr>
                                    </form>

                                }


                                <form asp-action="RasyonUretimDetayEkle" asp-controller="RasyonUretim" method="post">
                                <tr>

                                    <td><input name="SIRANO" value="" disabled="disabled" /></td>

                                    <td>
                                            @Html.DropDownList("URUNNO", (List<SelectListItem>)ViewBag.emtia, "Emtia Seçiniz", new { @class = "form-control" })
                                    </td>
                                    <td><label>KG</label></td>

                                    <td><input name="MIKTAR" class="form-control" /></td>
                                    <td>

                                        <button class="btn btn-primary">Ekle</button>

                                    </td>
                                    <input name="CIFTLIKNO" value="@Model[0].rasyonUretim.CIFTLIKNO" type="hidden" />

                                    <input name="URETIMNO" value="@Model[0].rasyonUretim.URETIMNO" type="hidden" />
                                    <input name="TARIH" value="@Model[0].rasyonUretim.TARIH" type="hidden" />
                                </tr>
                                </form>
                            </table>
                        </div>


                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div><!-- /.wrapper -->

    <script>
        $(document).ready(function () {
            $('#AsiTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                },
                "autoWidth": false, // Tabloyu tam genişlikte yapar
                "responsive": true // Tabloyu responsive yapar
            });

            // Toggle sidebar
            $('#toggleSidebarBtn').on('click', function () {
                if ($('body').hasClass('sidebar-collapse')) {
                    $('body').removeClass('sidebar-collapse');
                } else {
                    $('body').addClass('sidebar-collapse');
                }
            });
        });
    </script>
</body>
</html>


