@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MoluEt.Models.Ciftlik>
@{
    ViewData["Title"] = "CiftlikList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="searchForm" method="get" action="~/Ciftlik/CiftlikList" class="form-inline mb-4">
    <div class="input-group input-group-md">
        <input type="text" class="form-control form-control-search" name="searchTerm" placeholder="Çiftlik Adı ile ara..." aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-search" type="submit">
                <i class="fas fa-search"></i> Ara
            </button>
        </div>
    </div>
    <div class="card-tools">
        <a href="~/Ciftlik/CiftlikEkle" class="btn btn-success">Yeni Çiftlik</a>
    </div>
</form>


<table class="table table-bordered">
    <tr>
        <th>Çiftlik No</th>
        <th>Çiftlik Adi</th>
        <th>İl</th>
        <th>Ruhsat No</th>
        <th>Adres</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CIFTLIKNO</td>
            <td><a href="~/ciftlik/ciftlikguncelle/@item.CIFTLIKNO">@item.CIFTLIKADI</a></td>
            <td align="center">@item.IL</td>
            <td>@item.RUHSATNO</td>
            <td>@item.ADRES</td>
        </tr>
    }

</table>
<a href="~/Ciftlik/CiftlikEkle" class="btn btn-danger">Ciftlik Ekle</a>